@model List<MVCCrud.Models.ViewModels.ListTablaViewModel>
@{
    ViewBag.Title = "Mis datos";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>#</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.Id</td>
                </tr>
            }
        </table>
    </div>
     
</div>

